body {
   font-family: 'Manrope', sans-serif !important;
   background-color: #f7fcff;
}

.bi {
   display: inline-block;
   width: 1rem;
   height: 1rem;
}

/* modal btns */

.btn-confirm-modal {
   background-color: #003087;
   border-color: #003087;
}

.btn-confirm-modal:hover {
   background-color: #00225f;
}

.btn-close-modal {
   background-color: #ebf2fe;
   border-color: #ebf2fe;
   color: #003087;
}

.btn-close-modal:hover {
   background-color: #e6eaf3;
   border-color: #e6eaf3;
   color: #003087;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
   .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
   }
   .navbar-search {
      display: block;
   }
}

.sidebar .nav-link {
   font-size: 0.875rem;
   font-weight: 500;
   color: #003087;
}

.sidebar .nav-link.main-item {
   font-size: 1rem;
}

.sidebar .nav-link.active {
   color: #003087;
   font-weight: 800;
}

.sidebar-heading {
   font-size: 0.75rem;
}

.sidebar .nav-link svg {
   width: 1rem;
   height: 1rem;
}

/*
 * Navbar
 */

.navbar-brand {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   background-color: rgba(0, 0, 0, 0.25);
   box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
   padding: 0.75rem 1rem;
}

.main-content h2 {
   text-align: center;
   color: #003087;
}

.documents-wrapper {
   display: flex;
   gap: 1rem;
}

.main-text {
   color: #003087;
}

/* cards  */
.card-highlighted {
   border: none !important;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.badge {
   background-color: #003087 !important;
   font-size: 1.2rem;
}

.card-button {
   background-color: #003087;
   border-color: #003087;
}

.card-button:hover {
   background-color: #00225f;
   border-color: #00225f;
}

.card-header {
   color: #003087;
}

.card-header,
.card-footer {
   background-color: #ebf2fe !important;
}

.card-header svg {
   width: 1.5rem;
   margin-right: 1rem;
}

.card-small-text {
   color: #161616;
}

.card-download-btn {
   background-color: #003087;
   border-color: #003087;
}

.card-download-btn:hover {
   background-color: #00225f;
   border-color: #00225f;
}

.text-muted {
   width: 1.5rem;
}

@media (max-width: 768px) {
   .documents-wrapper {
      flex-direction: column;
   }

   #sidebarMenu {
      width: 50%;
   }

   .nav-tabs {
      display: none;
   }
}

@media (min-width: 768px) {
   .dashboard-cards {
      flex-direction: column;
   }

   .dashboard-cards .col {
      width: 100%;
   }

   .documents-wrapper {
      flex-direction: column;
      align-items: center;
   }
}

@media (min-width: 1200px) {
   .dashboard-cards {
      flex-direction: row;
   }

   .dashboard-cards .col {
      width: 33.3333%;
   }

   .documents-wrapper {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .documents-wrapper .card {
      /* width: 50%; */
      flex: 0 0 calc(50% - 0.5rem); /* 2 w rzędzie */
      box-sizing: border-box;
   }
}

@media (max-width: 768px){
   .legenda-icon-bg {
      width: 25px;
      height: 25px;
   }
}
 